
<h2 class="text-muted header-documentos">Documentos</h2>
<div class="row">
    <div class="col-md-6 col-xs-12">
        <H4>Upload</H4>
        <div class="negotiation-user">
            <input type=file multiple>
        </div>
    </div>
</div>
<div class="row files">
    <div class="col-md-6 col-xs-12 vendedor">
        <H4>Vendedor</H4>
        <div class="file-list">
            <ul>
                <li>
                    <i class="fa fa-file-archive-o"></i>
                    <span>fotos.zip</span>
                    <span class="actions"><i class="fa fa-pencil" (click)="details('fotos.zip')"></i>
                        <i class="fa fa-trash-o"></i></span>
                </li>
                <li>
                    <i class="fa fa-file-pdf-o"></i>
                    <span>RG.pdf</span>
                    <span class="actions"><i class="fa fa-pencil" (click)="details('RG.pdf')" ></i>
                        <i class="fa fa-trash-o"></i></span>
                </li>
                <li>
                    <i class="fa fa-file-pdf-o"></i>
                    <span>cpf.pdf</span>
                    <span class="actions"><i class="fa fa-pencil" (click)="details('cpf.pdf')"></i>
                        <i class="fa fa-trash-o"></i></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-6 col-xs-12 comprador">
        <H4>Comprador</H4>
        <div class="file-list">
            <ul>
                <li>
                    <i class="fa fa-file-archive-o"></i>
                    <span>fotos.zip</span>
                    <span class="actions"><i class="fa fa-pencil" (click)="details('fotos.zip')"></i>
                        <i class="fa fa-trash-o"></i></span>
                </li>
                <li>
                    <i class="fa fa-file-pdf-o"></i>
                    <span>RG.pdf</span>
                    <span class="actions"><i class="fa fa-pencil" (click)="details('RG.pdf')" ></i>
                        <i class="fa fa-trash-o"></i></span>
                </li>
                <li>
                    <i class="fa fa-file-pdf-o"></i>
                    <span>cpf.pdf</span>
                    <span class="actions"><i class="fa fa-pencil" (click)="details('cpf.pdf')"></i>
                        <i class="fa fa-trash-o"></i></span>
                </li>
            </ul>
        </div>
    </div>
</div>
<div [hidden]="!edited" class="row details-row">
    <div class="col-md-12 col-xs-12">
        <H5>Detalhes <i class="fa fa-times" (click)="close()"></i></H5>
        <div>
            <span>{{filename}}</span>
            <span>{{selectedFile.vence}}</span>
            <span>{{selectedFile.vencimento}}</span>
        </div>
    </div>
</div>