.header-negociacao {
    margin-bottom:10px;    
}

.negotiation-user img{
    width:90px;
    height:90px;      
}

.negotiation-user .user-deatils {
    display:inline-block;
}

.negotiation-user .user-deatils a{
    color: #9BBDF9;
    text-decoration: none;
    display:block;
}

@media screen and (max-width: 992px) {
    .negotiation-user img{
        width:45px;
        height:45px;      
    }
}