<div class="row">
    <div class="col-md-4 col-xs-12">
        <H3>Vendedor</H3>
        <div>
            <img src="assets/images/01.jpg"/>
            <div class="user-deatils">
                <h4>Robison Tesini</h4>
                <a href="tel:+393484611091">
                    <i class="fa fa-phone"></i>
                    + 39 348 461 10 91
                </a>
                <a href="mailto:contato@italianando.com.br">
                    <i class="fa fa-paper-plane-o"></i>
                    contato@italianando.com.br
                </a>
            </div>

        </div>
    </div>
    <div class="col-md-4 col-xs-12">
        <H3>Comprador</H3>
        <div>
            <img src="assets/images/02.jpg"/>
            <div class="user-deatils">
                <h4>Danilo Pereira</h4>
                <a href="tel:+393484611091">
                    <i class="fa fa-phone"></i>
                    + 39 348 461 10 91
                </a>
                <a href="mailto:contato@italianando.com.br">
                    <i class="fa fa-paper-plane-o"></i>
                    contato@italianando.com.br
                </a>
            </div>

        </div>
    </div>
    <div class="col-md-4 col-xs-12">
        <H3>Corretor</H3>
        <div>
            <img src="assets/images/03.jpg"/>
            <div class="user-deatils">
                <h4>Gustavo Carvalho</h4>
                <a href="tel:+393484611091">
                    <i class="fa fa-phone"></i>
                    + 39 348 461 10 91
                </a>
                <a href="mailto:contato@italianando.com.br">
                    <i class="fa fa-paper-plane-o"></i>
                    contato@italianando.com.br
                </a>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xl-3 col-lg-6">
        <app-stat [bgClass]="'card-primary'" [icon]="'fa-comments'" [count]="2" [label]="'Chat'" (click)="chat()"></app-stat>
    </div>
    <div class="col-xl-3 col-lg-6">
        <app-stat [bgClass]="'card-info'" [icon]="'fa-tasks'" [count]="12" [label]="'Tarefas'" (click)="tasks()"></app-stat>
    </div>
    <div class="col-xl-3 col-lg-6">
        <app-stat [bgClass]="'card-success'" [icon]="'fa-file'" [count]="124" [label]="'Documentos'" (click)="documents()"></app-stat>
    </div>
    <div class="col-xl-3 col-lg-6">
        <app-stat [bgClass]="'card-danger'" [icon]="'fa-question'" [count]="13" [label]="'Ajuda'" (click)="help()"></app-stat>
    </div>
</div>
