<h2 class="text-muted header-documentos">Tarefas</h2>
<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-block task-pendent">
                <h3 class="card-title">Levar Documentacao</h3>
                <p class="card-text">Levar documentacao para cartorio</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
        <div class="card-block task-done">
            <h3 class="card-title">Ver a casa</h3>
            <p class="card-text">Visitar a casa.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
        <div class="card-block task-canceled">
            <h3 class="card-title">Consultar pedreiro</h3>
            <p class="card-text">Levar um pedreiro para ver estrutura da casa.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
  </div>
</div>
