<h2 class="text-muted header-documentos">Tarefas</h2>
<div class="row">
    <div *ngFor="let task of tasks;" class="col-sm-4 task-card">
        <div class="card">
            <div class="card-block task-{{task.status}}">
                <p class="task-date">{{task.date}}</p>
                <h3 class="card-title">{{task.name}}</h3>
                <p class="card-text">{{task.description}}</p>
                <div class="div-more-info">
                    <span class="btn btn-primary more-info" (click)="moreInfo(task.status, task.name)">+</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div [hidden]="!showInfo" class="row-more-info card task-{{info.status}}">
    <h3 class="card-title">Informacoes da Tarefa <i class="fa fa-times" (click)="closeInfo()"></i></h3>
    <p class="card-title">Nome: {{info.name}}</p>
    <p class="card-title">Status: {{info.status}}</p>
</div>    