<h2 class="text-muted header-documentos">Tarefas</h2>
<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-block task-pendent">
                <p class="task-date">20/01/2017</p>
                <h3 class="card-title">Levar Documentacao</h3>
                <p class="card-text">Levar documentacao para cartorio</p>
                <div class="div-more-info">
                    <span class="btn btn-primary more-info">+</span>
                </div>
            </div>
        </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
        <div class="card-block task-done">
            <p class="task-date">20/02/2017</p>
            <h3 class="card-title">Ver a casa</h3>
            <p class="card-text">Visitar a casa.</p>
            <div class="div-more-info">
                <span class="btn btn-primary more-info">+</span>
            </div>
        </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
        <div class="card-block task-canceled">
            <p class="task-date">05/05/2017</p>
            <h3 class="card-title">Consultar pedreiro</h3>
            <p class="card-text">Levar um pedreiro para ver estrutura da casa.</p>
            <div class="div-more-info">
                <span class="btn btn-primary more-info">+</span>
            </div>
        </div>
    </div>
  </div>
</div>
