<?xml version="1.0" encoding="utf-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

 	<listener>
	    <listener-class>br.com.confidencecambio.config.DatabaseContextListener</listener-class>
	</listener>

	<filter>
		<filter-name>TransactionFilter</filter-name>
		<filter-class>br.com.hometrader.config.TransactionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>TransactionFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

    <servlet>
		<servlet-name>Resteasy</servlet-name>
		<servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.core.Application</param-name>
			<param-value>br.com.hometrader.config.Application</param-value>
		</init-param>

	</servlet>

	<servlet-mapping>
		<servlet-name>Resteasy</servlet-name>
		<url-pattern>/s/*</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>resteasy.servlet.mapping.prefix</param-name>
		<param-value>/s</param-value>
	</context-param>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>
